<div class="container d-flex align-items-center justify-content-center">
  <div class="filter-wrapper ">
    <form action="/" method="POST">
        <div class="mt-5">
          <select type="select" class="form-control mt-2" id="category" name="category">
            <option value="家居物業">家居物業</option>
            <option value="交通出行">交通出行</option>
            <option value="休閒娛樂">休閒娛樂</option>
            <option value="餐飲食品">餐飲食品</option>
            <option value="其他">其他</option>
          </select>
       </div>
    </form>   
      <div class="total-amount mt-3">總金額：{{totalAmount}}</div>
        {{!-- new record loop--}}
        
        <div class=" mt-4">
          {{#each expenses}}
          <li class="d-flex justify-content-between">
            <p><i class="{{this.icon}}"></i></p>
            <div>
              <h3 class="mr-5">{{this.name}}</h3>
              <p>{{this.date}}</p>
            </div>
            <span class="mr-5">{{this.amount}}</span>
            <form action="/record/{{this._id}}?_method=DELETE" method="post">
            <a href="/record/edit/{{this._id}}" class="btn btn-primary mt-3">修改</a>
            <button type="submit" class="btn btn-primary mt-3">刪除</button>
            </form>
          </li>
           {{/each}}
          <a href="/record/new"type="submit" class="btn btn-primary mt-3">新增支出</a>
        </div>
  </div>
</div>



